<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">
                {{ form.title.label }}
            </label>
            {{ form.title }}
            <input type="text" class="form-control" id="exampleFormControlInput1" 
            name="title"
             value="{{ form.title.value }}">
        </div>
       
    {% endfor %}
    <!-- <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">
            {{ form.title.label }}
        </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" 
        name="title"
         value="{{ form.title.value }}">
    </div>
    <div class="mb-3">
        <input  class="form-check-input" type="checkbox" value=" " 
        id="flexCheckDeflt">
        <label class="form-check-label" for="flexCheckDefalt">
            {{ form.completed.label }}
        </label>
    </div> -->
    

    <button type="submit">Submit</button>
</form> 